.pageSections {
  display: grid;
  grid-template-columns: auto 300px;
  gap: 10px;
  padding-top: 1rem
}

.postsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px
}

.postsContainer *:first-child {
  grid-column: span 2;
}

.sideSection {}

.sideSection header {
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  position: relative;
  display: flex;
  align-items: center;
}

.sideSection header::after {
  content: "";
  flex: 1 1 0%;
  height: 1px;
  width: 10px;
  margin-left: 1rem;
  background-color: var(--col-secondary);
}

.sideSection header::before {
  content: "";
  flex: 0 0 1rem;
  height: 1px;
  margin-right: 1rem;
  background-color: var(--col-secondary);
}

.searchInput {
  background-color: gray;
}