.container {
    display: flex;
    flex-direction: column;
    /* background-color: lightgray; */
}

.container h2 {
    padding: 0.5rem 0;
    font-size: 1.2rem;
    font-weight: 400;
}

.image {
    overflow: hidden;
    width: 100%;
    padding-top: 100%;
    background-position: center;
    background-size: cover;
}

/* @media screen and (max-width: 600px) {
    .image {
        padding-top: 60%;
        width: 60%;
        margin: 0 auto;
    }
} */