.pageSections {
    display: grid;
    grid-template-columns: auto 300px;
    padding-top: 1rem
}

@media screen and (max-width: 600px) {
    .pageSections {
        grid-template-columns: auto;
    }
}

.postsSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
}

.sideSection {
    padding: 0 1rem 1rem 0;
}

@media screen and (max-width: 600px) {
    .sideSection {
        background: var(--col-superlightgray);
        border-top: 2px solid var(--col-secondary);
        padding: 1rem 1rem 1rem 1rem;
    }
}

.sideSection header {
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    position: relative;
    display: flex;
    align-items: center;
}

.sideSection header::after {
    content: "";
    flex: 1 1 0%;
    height: 1px;
    width: 10px;
    margin-left: 1rem;
    background-color: var(--col-secondary);
}

.sideSection header::before {
    content: "";
    flex: 0 0 1rem;
    height: 1px;
    margin-right: 1rem;
    background-color: var(--col-secondary);
}